@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron center">
    <h1 style="color:darkblue">CAR MANAGER</h1>
    <p class="lead">Web application used mainly for managing travel info, car of the company.</p>
    
</div>

<div  >
    
</div>



